ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

.header {
  min-height: 100vh;
  position: relative;
  background-color: #ffd200;
}

.wrapper {
  height: 100vh;
  position: relative;
  z-index: 1;
}
